
body {
    background-color: #e9ecef; /* Color de fondo claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar-logo {    
    width: 150px; /* Ajusta el ancho a 150px */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 40px; /* Espacio entre la imagen y el menú */
    border-radius: 5px; /* Opcional: para bordes redondeados */
    position: relative; /* Habilita el uso de top y left */
    top: 20px; /* Mueve la imagen hacia abajo */
    left: 20px; /* Mueve la imagen hacia la derecha */ 
}

.sidebar a.active {
    background-color: #ffffff; /* Color resaltado para la opción activa */
    border-radius: 8px;
    color: #0056b3;
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;  
    position: relative;
    right: 150px;
}

.main-content {
    margin-left: 250px; /* Asegúrate de que esto coincida con el ancho del sidebar */
    padding: 20px; /* Ajusta el padding si es necesario */
    background-color: #ffffff;
    width: calc(100% - 250px); /* Toma el espacio restante después del sidebar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box; /*  padding y border en el tamaño total */
    min-height: 100vh; /*  ocupa todo el alto disponible */
}

.sidebar {
    height: 100vh;
    background-color: #007BFF;
    padding: 20px;
    color: white;
    width: 250px;
    position: fixed; /* Asegura que el sidebar permanezca fijo */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 600;
    transition: background-color 0.3s; /* Transición suave */
}

.sidebar a:hover {
    background-color: #0056b3;
    border-radius: 8px;
}

/*.sidebar nav ul li a.active {
    background-color: #b7e4c7;
    color: #000;
}*/

main {
    flex: 1;
    padding: 20px;
}

h1{
    margin-bottom: 50px;
}

.patient-form {
    background-color: #ffffff;
    padding: 90px;
    height: 100%;
    width: 119%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espacio por encima de los botones */
}

button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    padding: 10px 20px; /* Ajusta el espacio interno del botón */
    font-size: 16px; /* Cambia el tamaño de la fuente */
    width: 20%; /* Para que el botón ocupe todo el ancho del contenedor */
    /* O puedes definir un ancho fijo si no quieres que ocupe todo el espacio */
    /* width: 200px; */
    position: relative;
    left: 40%;
}


.btn-agendar {
    background-color: #333;   
    color: white; 
    font-weight: bold;
    position: absolute; 
    top: auto; 
    left: 50%; 
}

.btn-agendar:hover {
    background-color: #ccc;
    color: rgb(43, 42, 42);
}


.btn-actualizar {
    background-color: #333;
    color: white;
    font-weight: bold;
    position: absolute; 
    top: auto; 
    left: 45%; 
}

.btn-actualizar:hover {
    background-color: #ccc;
    color: rgb(43, 42, 42);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

